In [2]:
pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/0c/94/e4181a1f6286f545507528c78016e00065ea913276888db2262507693ce5/PyMySQL-1.1.1-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   ------------------------------------ --- 41.0/45.0 kB 495.5 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 445.3 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd 
import pymysql

In [3]:
db_config = {
    "host": "localhost",  
    "user": "root",       
    "password": "krishna",  
    "database": "sales"  
}

In [4]:
from IPython.display import display

In [6]:
import os

db_config = {
    "host": "localhost",  
    "user": "root",       
    "password": "krishna",  
    "database": "sales"  
}

In [10]:
output_folder = r"D:\project"  
os.makedirs(output_folder, exist_ok=True)
tables = ["order_detail", "sku_detail", "payment_detail","customer_detail"]

In [11]:
try:
    # Connect to the database
    connection = pymysql.connect(**db_config)
    print("Database connection successful!")

    for table in tables:
        print(f"Exporting table: {table}")
        
        # SQL query to fetch all data from the table
        query = f"SELECT * FROM {table};"
        
        # Read table data into a DataFrame
        df = pd.read_sql(query, connection)
        
        # Save the DataFrame to a CSV file
        output_file = os.path.join(output_folder, f"{table}.csv")
        df.to_csv(output_file, index=False)
        
        print(f"Table {table} exported successfully to {output_file}.")

except Exception as e:
    print(f"An error occurred: {e}")
finally:
    if connection:
        connection.close()
        print("Database connection closed.")

Database connection successful!
Exporting table: order_detail

C:\Users\Dell\AppData\Local\Temp\ipykernel_3824\1590211234.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

Table order_detail exported successfully to D:\project\order_detail.csv.
Exporting table: sku_detail
Table sku_detail exported successfully to D:\project\sku_detail.csv.
Exporting table: payment_detail
Table payment_detail exported successfully to D:\project\payment_detail.csv.
Exporting table: customer_detail
Table customer_detail exported successfully to D:\project\customer_detail.csv.
Database connection closed.

In [12]:
df_od = pd.read_csv("order_detail.csv")
df_sd = pd.read_csv("sku_detail.csv")
df_pd = pd.read_csv("payment_detail.csv")
df_cd = pd.read_csv("customer_detail.csv")
df_sd.rename(columns={'id':'sku_id'}, inplace=True)
df_cd.rename(columns={'id':'customer_id'}, inplace=True)
df_pd.rename(columns={'id':'payment_id'}, inplace=True)
df = pd.DataFrame(df_od\
                  
                 .merge(df_sd, how='left', on='sku_id')\
                  
                  .merge(df_cd, how='left', on='customer_id')\
                  
                  .merge(df_pd, how='left', on='payment_id')
                  )

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5764 entries, 0 to 5763
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               5764 non-null   object
 1   customer_id      5764 non-null   object
 2   order_date       5764 non-null   object
 3   sku_id           5764 non-null   object
 4   price            5764 non-null   int64
 5   qty_ordered      5764 non-null   int64
 6   before_discount  5764 non-null   float64
 7   discount_amount  5764 non-null   float64
 8   after_discount   5764 non-null   float64
 9   is_gross         5764 non-null   int64
 10  is_valid         5764 non-null   int64
 11  is_net           5764 non-null   int64
 12  payment_id       5764 non-null   int64
 13  sku_name         5764 non-null   object
 14  base_price       5764 non-null   float64
 15  cogs             5764 non-null   float64
 16  category         5764 non-null   object
 17  registered_date  5764 non-null   object
 18  payment_method   5764 non-null   object
dtypes: float64(5), int64(6), object(8)
memory usage: 855.7+ KB

In [13]:
df_pd['payment_id'] = df_pd['payment_id'].astype(str)
df_od['id'] = df_od['id'].astype(str)             
df_sample = pd.merge(df_pd, df_od, how='left', left_on='payment_id', right_on='id')
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   payment_id_x     16 non-null     object
 1   payment_method   16 non-null     object
 2   id               0 non-null      object
 3   customer_id      0 non-null      object
 4   order_date       0 non-null      object
 5   sku_id           0 non-null      object
 6   price            0 non-null      float64
 7   qty_ordered      0 non-null      float64
 8   before_discount  0 non-null      float64
 9   discount_amount  0 non-null      float64
 10  after_discount   0 non-null      float64
 11  is_gross         0 non-null      float64
 12  is_valid         0 non-null      float64
 13  is_net           0 non-null      float64
 14  payment_id_y     0 non-null      float64
dtypes: float64(9), object(6)
memory usage: 2.0+ KB

In [14]:
for x in ['order_date', 'registered_date']:
  df[x] = pd.to_datetime(df[x])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5764 entries, 0 to 5763
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               5764 non-null   object
 1   customer_id      5764 non-null   object
 2   order_date       5764 non-null   datetime64[ns]
 3   sku_id           5764 non-null   object
 4   price            5764 non-null   int64
 5   qty_ordered      5764 non-null   int64
 6   before_discount  5764 non-null   float64
 7   discount_amount  5764 non-null   float64
 8   after_discount   5764 non-null   float64
 9   is_gross         5764 non-null   int64
 10  is_valid         5764 non-null   int64
 11  is_net           5764 non-null   int64
 12  payment_id       5764 non-null   int64
 13  sku_name         5764 non-null   object
 14  base_price       5764 non-null   float64
 15  cogs             5764 non-null   float64
 16  category         5764 non-null   object
 17  registered_date  5764 non-null   datetime64[ns]
 18  payment_method   5764 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(6), object(6)
memory usage: 855.7+ KB

In [15]:
file_path = r"D:\project\finaldataset.csv"  
df.to_csv(file_path, index=False)
print(f"File successfully saved to {file_path}")

File successfully saved to D:\project\finaldataset.csv